@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home";
}
<div ng-app="urlMapping">
    <div class="row inner-body">
        <div class="col-xs-12">
            <h2>Welcome</h2>
            <p>
                You are probably here because you want assistance to keep track of so many dates that you are expected to remember - birthdays, bill payments, assignment dues and the never ending list.
                Paytime is aimed at solving the basics of reminding you when its due to pay your bills but in the broader context plays the role of that assistant that you were looking for.
            </p>
        </div>
    </div>
    <div class="row inner-body">
        <div class="col-xs-12">
            <h2>How it works?</h2>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="how-it-works-block">
                    <i class="ion-ios-calendar-outline how-it-works-icon"></i>
                </div>
                <div class="caption">
                    <h3>Step 1:</h3>
                    <p>Set up the event on this website.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="how-it-works-block">
                    <i class="ion-ios-clock-outline  how-it-works-icon"></i>
                </div>
                <div class="caption">
                    <h3>Step 2:</h3>
                    <p>Leave the site to run in the background while you focus on your daily acitivities.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="how-it-works-block">
                    <i class="ion-ios-email-outline how-it-works-icon"></i>
                </div>
                <div class="caption">
                    <h3>Step 3:</h3>
                    <p>Get a reminder when its time so that you don't miss out on anything important.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row inner-body">
        <div class="col-xs-12">
            <h2>Voila!</h2>
            <p>It's that easy to offload you of those annoying dates.</p>
        </div>
    </div>
</div>

