@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home";
}
<div ng-app="urlMapping">
    <div class="jumbotron">
        <h1>Paytime</h1>
        <p>Reminding you when its on-time to make a payment.</p>
    </div>
</div>

