<div style="margin-right:40px;">
    <div class="row inner-body">
        <div class="col-md-9 col-xs-12">
            <h2 class="spa-view-heading">List of events</h2>
        </div>
        <div class="col-md-3 col-xs-12 form-group" style="vertical-align: bottom;margin-top: 16px;">
            <input class="form-control  spa-view-input-search" ng-model="search" autocomplete="off" placeholder="Search for url's" />
        </div>
    </div>
    <div class="row inner-body">
        <div class="col-xs-12 col-md-12" ng-hide="loading">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" ng-show="urlListRefined.length">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Reminder Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in urlListRefined = (urlList | filter:search)">
                            <td>{{c.Title}}</td>
                            <td>{{c.StartDate}}</td>
                            <td>{{c.EndDate}}</td>
                            <td>{{c.ReminderMode}}</td>
                            <td><a ng-href="#/edit/{{c.Id}}" class="btn btn-primary"><i class="ion-ios-compose-outline"></i>&nbsp;Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-hide="urlListRefined.length" class="alert alert-warning">
                <p>There are no results to display that match your search criteria</p>
            </div>
        </div>
        <div ng-show="loading" class="col-xs-12 col-md-12 text-center">
            Loading content <i class="icon ion-load-c"></i>
        </div>
    </div>
</div>